<header id="header" class="header">
  <div class="grid-x grid-padding-y">
    <div class="cell small-4 small-offset-4">
      <div id="logo">
        <img src="assets/img/logo.svg">
      </div>
    </div>
    <div class="cell small-4">
      <ul class="menu align-right">
        {{> social}}
      </ul>
    </div>
  </div>
  <div class="grid-x grid-padding-y">
    <div class="cell">
    <ul class="menu align-center">
      {{> nav}}
    </ul>
    </div>
  </div>
</header>

<div class='column row' id="content">
  <img src="http://placekitten.com/1400/768">
  <img src="http://placekitten.com/700/500">
  <img src="http://placekitten.com/500/500">
</div>