header {
  &#branding {
    background-color: transparent;
    padding-top: 1rem;
    .flex {
      display: flex;
      justify-content: center;
      .flex--block {
        width: 220px;
        padding: 20px;
        border-radius: 10px;
        background-color: $primary-color;
        svg#svg-contents {
          fill: $white;
        }
      }
    }
  }
}
