.grid-container{
  @include xy-gutters($gutter-position: top);
.grid-x{

}
}
.outer-grid {
  @include xy-grid();
  header {
  }
}
header{
      @include xy-cell(
      $size: 100%,
      $gutter-position: top bottom,
      $gutter-type: padding,
      $output: (
        base size gutters
      )
    );
      background-color: $primary-color;
    margin-bottom: $global-margin;
}

.items-container {
  @include xy-grid-container();
}
.items-grid {
  @include xy-grid();
}

header{
  background-color: $primary-color;
  margin-bottom: $global-margin;
      h2 {
      color: $white;
      margin-bottom: 0;
    }
}