<div class="containerBen">
  <div class="gridBen">
    <div class="cellBen">
      <h4 class="text-center grid-margin-x-collapse">Show Schedule</h4>
    </div>
  </div>
</div>
<div class="cal-container">
  <div class="calendar">
    {{#with (split schedule)}}
    <div class="odd-items">
      {{#each oddItems}}
      <div class="cal-item">
        <div class="date-block">
          <div class="cal-block text-center">
            <div class="L1 p-3">
              {{L1}}
            </div>
            <div class="L2">
              {{L2}}
            </div>
          </div>
          <div class="info-block">
            <div class="R1">
              {{R1}}
            </div>
            <div class="R2">
              {{R2}}
            </div>
            <div class="R2">
              {{R3}}
            </div>
            <div class="link">
              <a class="link" href="{{link}}">
                {{link_title}}
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="even-items">
      {{#each evenItems}}
      <div class="cal-item">
        <div class="date-block">
          <div class="cal-block text-center">
            <div class="L1 p-3">
              {{L1}}
            </div>
            <div class="L2">
              {{L2}}
            </div>
          </div>
          <div class="info-block">
            <div class="R1">
              {{R1}}
            </div>
            <div class="R2">
              {{R2}}
            </div>
            <div class="R2">
              {{R3}}
            </div>
            <div class="link">
              <a class="link" href="{{link}}">
                {{link_title}}
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/with}}

  </div>