<div class="slideshow-wrapper">
  <div class="slideshow">
    <div class="orbit" style="border:solid 1px white" role="region" data-auto-play="false" aria-label="Slideshow"
      data-orbit>
      <div class="orbit-wrapper">
        <ul class="orbit-container">
          {{#each slides}}
          <li class="orbit-slide {{#if image_width}}{{#if text_width}}multiple{{/if}}{{/if}}" id="{{id}}">
            <div class="flexbox-slide" {{#if text_first}} style="flex-direction: row-reverse;"{{/if}}>
              {{#if image_filename}}
              <img src="{{root}}/assets/img/main-slideshow/{{image_filename}}" alt="{{alt}}"
                class="orbit-image flex-{{image_width}}" />
              {{/if}}
              {{#if main_text}} 
              <div class="text flex-{{text_width}}">
                <div class="lead {{main_text_size}} {{#if main_text_uppercase}}uppercase{{/if}}">{{{main_text}}}</div>
                {{#if details}}
                <div class="details">
                  {{#each details}}
                  {{#each this}}
                  <div class="{{@key}}">{{this}}</div>
                  {{/each}}
                  {{/each}}
                </div>
                {{/if}}

              </div>
              {{/if}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


<br><br><br>

<div class="slideshow-wrapper">
  <div class="slideshow">
    <div class="orbit" role="region" data-auto-play="false" aria-label="Slideshow" data-orbit
      style="border:solid 1px yellow">
      <div class="orbit-wrapper">
        <ul class="orbit-container">
          <li class="orbit-slide is-active" id="faneuil-hall-boston">
            <div class="flexbox-slide">
              <img src="{{root}}/assets/img/main-slideshow/amazing-acrobats-faneuil-hall-boston2.jpg"
                alt="general description goes here" class="orbit-image flex-100" />
            </div>
          </li>
          <li class="orbit-slide" id="knock-out">
            <div class="flexbox-slide">
              <div class="text flex-100">
                <div class="lead x_large uppercase">&rdquo;A Knock-Out Show&ldquo;</div>
                <div class="details">
                  <div class="line-1">Andy Meldrum</div>
                  <div class="line-2">Edinburgh Street Events Manager</div>
                </div>
              </div>
            </div>
          </li>
          <li class="orbit-slide" id="vaudville">
            <div class="flexbox-slide">
              <img src="{{root}}/assets/img/main-slideshow/vaudville.jpg" alt="general description goes here"
                class="orbit-image flex-100" />
            </div>
          </li>
          <li class="orbit-slide" id="bette-middler">
            <div class="flexbox-slide">
              <div class="text flex-100">
                <div class="lead large uppercase">"The Bette Midler of Street Performers"</div>
                <div class="details">
                  <div class="line-1">West Hyler</div>
                  <div class="line-2">
                    Director: Air Play, Paramour, Georama and many more
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="orbit-slide" id="head-and-shoulders">
            <div class="flexbox-slide">
              <div class="text flex-40">
                <div class="lead medium">"Head and shoulders above the crowd"</div>
                <div class="details">
                  <div class="line-1">Machenzie Muldoon</div>
                  <div class="line-2">Marketing & Entertainment Director</div>
                  <div class="line-2">Toronto Buskers Festival</div>
                </div>
              </div>
              <img src="{{root}}/assets/img/main-slideshow/edinburgh-fringe-festival-red-trouser-show.jpg"
                alt="general description goes here" class="orbit-image flex-60" />
            </div>
          </li>
          <li class="orbit-slide" id="head-to-head">
            <div class="flexbox-slide">
              <img src="{{root}}/assets/img/main-slideshow/circus-spectacle-danger-partner-acrobatics.jpg"
                alt="general description goes here" class="orbit-image flex-100" />
            </div>
          </li>
          <li class="orbit-slide" id="never-fail">
            <div class="flexbox-slide">

              <img src="{{root}}/assets/img/main-slideshow/head-and-shoulders-above-the-crowd.jpg"
                alt="general description goes here" class="orbit-image flex-30" />
              <div class="text flex-70">
                <div class="lead small">
                  "They never fail to exceed our expectations and the expectations of our wildly diverse audiences."
                </div>
                <div class="details">
                  <div class="line-1">Jeff and Julie Jenkins</div>
                  <div class="line-2">
                    Midnight Circus Founders and Artistic Directors
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="orbit-slide" id="amazing-acrobats">
            <div class="flexbox-slide">
              <div class="text flex-100">
                <div class="lead large uppercase">"AMAZING ACROBATS!"</div>
                <div class="details">
                  <div class="line-1">ABC NEWS</div>
                  <div class="line-2">Malaika Bova</div>
                </div>
              </div>
            </div>
          </li>
          <li class="orbit-slide" id="a-hit">
            <div class="flexbox-slide">
              <div class="text flex-30">
                <div class="lead small">
                  "The Show was definitely the 'hit' of the 2011 Fair"
                </div>
                <div class="details">
                  <div class="line-1">Jeremy Parsons</div>
                  <div class="line-2">Clay county Fair</div>
                </div>
              </div>
              <img src="{{root}}/assets/img/main-slideshow/garden-party-block-party-mallory-square.jpg"
                alt="general description goes here" class="orbit-image flex-70" />
            </div>
          </li>
          <li class="orbit-slide" id="winner">
            <div class="flexbox-slide">
              <div class="text flex-70">
                <div class="lead medium">
                  "You will have a winner in your hands if you book The Red
                  Trouser Show."
                </div>
                <div class="details">
                  <div class="line-1">Jeremy Parsons</div>
                  <div class="line-2">Clay County Fair Manager</div>
                </div>
              </div>
              <img src="{{root}}/assets/img/main-slideshow/edinburgh-fringe-festival-funny-clubs.jpg"
                alt="general description goes here" class="orbit-image flex-30" />
            </div>
          </li>
          <li class="orbit-slide is-active" id="best-overall">
            <div class="flexbox-slide">
              <img src="{{root}}/assets/img/main-slideshow/state-fair-corporate-show.jpg"
                alt="general description goes here" class="orbit-image flex-50" />
              <div class="text flex-50">
                <div class="lead medium x-padding-lg">
                  "voted Best Overall Act in the festival"
                </div>
                <div class="details">
                  <div class="line-1">Jan MacDonald</div>
                  <div class="line-2">
                    Kingston Buskers Rendezvous Coordinator
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="orbit-slide" id="lean">
            <div class="flexbox-slide">
              <img src="{{root}}/assets/img/main-slideshow/lean.jpg" alt="general description goes here"
                class="orbit-image flex-100" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>