<div class="slideshow-wrapper">
  <div class="slideshow">
    <div
      class="orbit"
      role="region"
      data-auto-play="false"
      aria-label="Slideshow"
      data-orbit
    >
      <div class="orbit-wrapper">
        <ul class="orbit-container" style="height: 363px;">
          <li class="orbit-slide is-active">
            <img
              src="{{root}}/assets/img/slideshow/amazing-acrobats-faneuil-hall-boston.jpg"
              alt="general description goes here"
              class="orbit-image"
            />
          </li>
          <li class="orbit-slide is-active">
            <div class="text">
              <div class="lead">"A Knock-Out Show"</div>

              <div class="details">
                <div class="line-1">Andy Meldrum</div>
                
                <div class="line-2">Edinburgh Street Events Manager</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
