<div class="slideshow-container">
  <div class="slideshow">
    <div class style="border:solid 1px white" role="region" data-auto-play="false" aria-label="Slideshow"
      data-orbit id="rts-slideshow">
      <div class="orbit-wrapper">
        <ul class="orbit-container" style="height: 500px">
          {{#each slides}}
          <li
            class="orbit-slide {{#if make_two_slides_on_mobile}}separate-slides{{/if}}{{#if hide_mobile}}hide-mobile{{/if}} {{#if image_size}}{{#if text_size}}multiple{{/if}}{{/if}}"
            id="{{id}}">
            <div class="flexbox-slide {{#if text_first}}text-first{{/if}}">
              {{#if image_filename}}
              <img src="{{root}}/assets/img/main-slideshow/{{image_filename}}" alt="{{alt}}"
                class="orbit-image flex-{{image_size}} {{#if image_size_mobile}}small-flex-{{{image_size_mobile}}}{{/if}} {{#if move_mobile_image_left}}move-mobile-image-left{{/if}} {{#if move_mobile_image_right}}move-mobile-image-right{{/if}}" />
              {{/if}}
              {{#if main_text}}
              <div class="text flex-{{text_size}} {{#if text_size_mobile}}small-flex-{{{text_size_mobile}}}{{/if}}">
                <div class="lead {{main_text_size}} {{#if main_text_uppercase}}uppercase{{/if}}">{{{main_text}}}</div>
                {{#if details}}
                <div class="details">
                  {{#each details}}
                  {{#each this}}
                  {{#if this}}
                  <div class="{{@key}}">{{this}}</div>
                  {{/if}}
                  {{/each}}
                  {{/each}}
                </div>
                {{/if}}

              </div>
              {{/if}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
