.slideshow-wrapper {
  max-width: $global-width;
  padding: $global-padding;
  margin-left: auto;
  margin-right: auto;
  .slideshow {
    font-family: "Futura Book";
    .orbit {
      .orbit-container {
        color: $white;
        .orbit-slide {
          height: inherit;
          overflow: hidden;
          .flex {
            justify-content: center;

            display: flex;
            .flex_30 {
              flex: 0 0 30%;
            }
            .flex_40 {
              flex: 0 0 40%;
            }
            .flex_50 {
              flex: 0 0 50%;
            }
            .flex_60 {
              flex: 0 0 60%;
            }
            .flex_70 {
              flex: 0 0 70%;
            }
            .flex_80 {
              flex: 0 0 80%;
            }
            .flex_90 {
              flex: 0 0 90%;
            }
            .flex_100 {
              flex: 0 0 100%;
            }
            .text,
            img {
              overflow: hidden;
            }

            img {
              object-fit: cover;
            }
            .text {
              padding-left: $global-padding;
              padding-right: $global-padding;
              flex-direction: column;
              height: inherit;
              text-align: center;
              word-break: break-word;
              align-items: center;
              @include flex;
              * {
                @include flex;
              }
              .details {
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex: 1;
              }
              .lead {
                flex-grow: 2;
                align-items: center;
                &.large {
                  font-size: rem-calc(34);
                  letter-spacing: rem-calc(5);
                  @include breakpoint(medium) {
                    font-size: rem-calc(61);
                  }
                }
                &.small {
                  font-size: rem-calc(30);
                  letter-spacing: rem-calc(1);
                }
                &.medium {
                  font-size: rem-calc(47);
                  letter-spacing: rem-calc(1);
                }
                &.side-padding {
                  padding-left: rem-calc(120px);
                  padding-right: rem-calc(120px);
                }
              }
              .details {
                .line-1 {
                  font-size: 125%;
                }
              }
            }
          }

          &#faneuil-hall-boston {
            .flex {
              .text {
                .lead {
                }
                .details {
                }
                .line-1 {
                }
                .line-2 {
                }
              }
              img {
              }
            }
          }
          &#knock-out {
            .flex {
              .text {
                .lead {
                }
                .details {
                }
                .line-1 {
                }
                .line-2 {
                }
              }
              img {
              }
            }
          }
          &#vaudville {
            .flex {
              .text {
                .lead {
                }
                .details {
                }
                .line-1 {
                }
                .line-2 {
                }
              }
              img {
              }
            }
          }
          &#bette-middler {
            .flex {
              .text {
                .lead {
                }
                .details {
                }
                .line-1 {
                }
                .line-2 {
                }
              }
              img {
              }
            }
          }
          &#head-and-shoulders {
            .flex {
              img {
              }
              .text {
                .lead {
                }
                .details {
                }
              }
            }
          }
          &#never-fail {
            .flex {
              .text {
                .lead {
                }
              }
            }
          }
          &#amazing-acrobats {
            .flex {
              .text {
                .lead {
                }
                .details {
                }
                .line-1 {
                }
                .line-2 {
                }
              }
              img {
              }
            }
          }
          &#a-hit {
            .flex {
              .text {
                .lead {
                }
                .details {
                }
                .line-1 {
                }
                .line-2 {
                }
              }
              img {
              }
            }
          }
          &#winner {
            .flex {
              .text {
                .lead {
                }
              }
            }
          }
          &#best-overall {
            .flex {
              .text {
                .lead {
                }
              }
            }
          }
          &#lean {
            .flex {
              .text {
                .lead {
                }
              }
            }
          }
        }
      }
    }
  }
}
