.containerBen {
  @include xy-grid-container;

  .gridBen {
    @include xy-grid();

    .cellBen {
      background-color: $light-gray;

      @include xy-cell(
        $size: 100%,
        $gutters: none,
        $gutter-type: none,
        $gutter-position: none,
        $breakpoint: auto,
        $output: (
          size
        )
      );
    }
  }
}


.cal-container {
  @include xy-grid-container;

  .calendar {
    background-color: $light-gray;
    @include xy-grid;
    justify-content: space-evenly;

    .cal-item {
      @include xy-cell(
        $size: full,
        $gutters: $grid-margin-gutters,
        $gutter-type: padding,
        $gutter-position: left right top bottom,
        $output: (base size gutters)
      );
      @include breakpoint(800px) { 
        @include xy-cell-size(
          $size: 6,
        );
        @include xy-cell-gutters(
          $gutters: 0         
        )
      }
      
      // @include breakpoint(900px) {
      //   @include xy-cell($size: 5);
      //   $gutter-position: left right top bottom,
      // }
      
      // @include breakpoint(xlarge) {
      //   @include xy-cell($size: 4.2);
      // }
      
      .date-block {
        @include flex;
        // @include flex-align(right, bottom);

        @include breakpoint(800px) {
          font-size: rem-calc(16px, $global-font-size);
        }
        @include breakpoint(900px) {
          font-size: rem-calc(18px, $global-font-size);
        }
        font-size: rem-calc(18px, $global-font-size);


        .cal-block {
          flex-basis: 140px;
          height: 115px;


          border-radius: rem-calc(12px, $global-font-size);
          color: $white;
          background-color: $black;
          .L1 {
            padding: 0.4rem 0.7rem 0.4rem 0.7rem;
            border-bottom: solid 2px;
            font-size: 0.875em;
            color: $white;
            margin-bottom: 0;
          }
          .L2 {
            padding: 0.4rem 0.7rem 0.4rem 0.7rem;
            font-size: 2.188em;
            margin-bottom: 0;
            color: $white;
          }
        }
        .info-block {
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: auto;

          margin-left: map-get($grid-margin-gutters, medium) / 2;
          @include breakpoint(small only) {
            margin-left: map-get($grid-margin-gutters, small) / 2;
          }
          .R1 {
            font-size: 1em;
            color: $primary-color;
            margin-top: rem-calc(2px, $global-font-size);
          }
          .R2,
          .link {
            font-size: 0.875em;
          }
          .link {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}


// .cal-container {

//   .calendar {

//     .cal-item {
      
      
      
//       .date-block {

//         font-size: rem-calc(18px, $global-font-size);

//         .cal-block {
//           border-radius: rem-calc(12px, $global-font-size);
//           color: $white;
//           background-color: $black;

//           .L1 {
//             padding: 0.4rem 0.7rem 0.4rem 0.7rem;
//             border-bottom: solid 2px;
//             font-size: 0.875em;
//             color: $white;
//             margin-bottom: 0;
//           }
//           .L2 {
//             padding: 0.4rem 0.7rem 0.4rem 0.7rem;
//             font-size: 2.188em;
//             margin-bottom: 0;
//             color: $white;
//           }
//         }
//         .info-block {
//           .R1 {
//             font-size: 1em;
//             color: $primary-color;
//             margin-top: rem-calc(2px, $global-font-size);
//           }
//           .R2,
//           .link {
//             font-size: 0.875em;
//           }
//           .link {
//             text-transform: uppercase;
//           }
//         }
//       }
//     }
//   }
// }



// // .cal-container {
// //   @include xy-grid-container()  
// //   .calendar {
// //     @include xy-grid{
// //     }
// //     display:flex;

// //     .cal-item {
// //       @include xy-cell()
// //       .date-block {

// //         >*{

// //         }

// //         .cal-block {

// //         }

// //         .info-block {
// //         }

// //       }
// //     }
// //   }
// // }

