.outer-container.schedule {
  .outer-grid {
    .items-container {
      @include xy-grid-container(60rem);

      .items-grid {
        @include xy-grid();
        justify-content: space-evenly;

        .item {
          @include xy-cell(
            $size: full,
            $gutters: $grid-margin-gutters,
            $gutter-position: top bottom,
            $output: (
              base size gutters
            )
          );

          @include breakpoint(800px) {
            @include xy-cell-size($size: 50%);
          }

          .flex--block {
            // @include flex-align(right, bottom);
            font-size: rem-calc(18px, $global-font-size);

            @include breakpoint(800px) {
              font-size: rem-calc(16px, $global-font-size);
            }

            @include breakpoint(1000px) {
              font-size: rem-calc(19px, $global-font-size);
            }

            .flex--item {
              &.cal {
                border-radius: rem-calc(12px, $global-font-size);
                color: $white;
                background-color: $black;
                min-width: 140px;
                text-align: center;

                .L1 {
                  border-bottom: solid 2px;
                  font-size: 0.875em;
                  color: $white;
                  padding-top: 0.3em;
                  padding-bottom: 0.3em;
                }

                .L2 {
                  font-size: 2.188em;
                  padding: 0.1em 0.4em;
                  color: $white;
                }
              }
              &.info {
                @include flex-align-self(middle);
                margin-left: map-get($grid-margin-gutters, medium) / 2 - 5px;

                @include breakpoint(small only) {
                  margin-left: map-get($grid-margin-gutters, small) / 2;
                }
                .R1.title {
                    font-size: 1.2em;
                    color: $primary-color;
                    line-height: 1.3;
                }

                .R2 {
                  font-size: 0.74em;
                  margin-bottom: -3px;
                }

                a {
                  font-size: 0.74em;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}
