.slideshow-wrapper {
  // max-width: $global-width;
  max-width: $global-width;
  padding: $global-padding;
  margin-left: auto;
  margin-right: auto;

  .slideshow {
    font-family: "Futura Book";

    .orbit {
      .orbit-container {
        color: $white;

        .orbit-slide {
          height: inherit;
          overflow: hidden;

          .flexbox-slide {
            display: flex;

            .text,
            img {
              overflow: hidden;
            }

            img {
              object-fit: cover;
            }

            .text {
              padding-left: $global-padding;
              padding-right: $global-padding;
              flex-direction: column;
              height: inherit;
              text-align: center;
              word-break: break-word;
              align-items: center;
              @include flex;
              &.flex-100 {
                .lead {
                  @include flex-item-width(80%);
                  align-items: center;
                  &.large {
                    font-size: rem-calc(40);
                  }
                }
                .details {
                  @include flex-item-width(20%);
                }
              }
              @include breakpoint(medium) {
                .lead {
                  flex-grow: 2;
                  align-items: center;
                  font-size: rem-calc(20);

                  &.small {
                    font-size: rem-calc(30);
                    letter-spacing: rem-calc(1);
                  }

                  &.medium {
                    font-size: rem-calc(47);
                    letter-spacing: rem-calc(1);

                    &.uppercase {
                      letter-spacing: rem-calc(5);
                    }
                  }
                  &.large {
                    font-size: rem-calc(61);
                    letter-spacing: rem-calc(1);
                  }
                  &.side-padding-sm {
                    padding-left: rem-calc(120px);
                    padding-right: rem-calc(120px);
                  }

                  &.side-padding-lg {
                    padding-left: rem-calc(120px);
                    padding-right: rem-calc(120px);
                  }

                  &.small {
                    font-size: rem-calc(30);
                    letter-spacing: rem-calc(1);
                  }

                  &.medium {
                    font-size: rem-calc(47);
                    letter-spacing: rem-calc(1);

                    &.uppercase {
                      letter-spacing: rem-calc(5);
                    }
                  }

                  &.side-padding-sm {
                    padding-left: rem-calc(120px);
                    padding-right: rem-calc(120px);
                  }

                  &.side-padding-lg {
                    padding-left: rem-calc(120px);
                    padding-right: rem-calc(120px);
                  }
                }
              }
              * {
                @include flex;
              }

              .details {
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex: 1;
              }

              .lead {
                font-size: rem-calc(20);
              }

              .details {
                .line_1 {
                  font-size: 125%;
                }
              }
            }
          }

          &.multiple {
            .flexbox-slide {
              flex-direction: column !important;

              .text {
                @include flex-item-width(30%);

                .lead {
                  font-size: rem-calc(15);
                }

                .details {
                  font-size: rem-calc(12);
                }
              }
            }
          }
        }
      }
    }
  }
}
