.slideshow-container {
  max-width: $global-width;
  padding: $global-padding;
  margin-left: auto;
  margin-right: auto;
  .slideshow {
    #rts-slideshow {
      .orbit-slide {
        height: inherit;
        overflow: hidden;
        .flexbox-slide {
          height: inherit;
          .text,
          img {
            overflow: hidden;
          }
          img {
            object-fit: cover;
          }
          .text {
            padding-left: $global-padding;
            padding-right: $global-padding;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            .lead{
              display: flex;
            }
            .details {
              display: block;
              position: absolute;
              bottom: 0;
              padding-bottom: 30px;
              text-align: center;
              * {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
