@media only screen and (max-width: 640px) {
  .slideshow-container {
    .slideshow {
      #rts-slideshow {
        .orbit-container {
          .orbit-slide {
            &.separate-slides {
              .flexbox-slide {
                > * {
                  -webkit-box-flex: 0;
                  -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
                  align-items: center;
                  flex-direction: row;
                }
              }
            }
            .flexbox-slide {
              .text {
                .details {
                  padding-bottom: 15px;
                  * {
                    display: block;
                  }
                }
                &.flex-100 {
                  .lead {
                    align-items: center;
                    @include flex-item-size(80%);
                  }
                }
                .details {
                  width: calc(100% - 2rem);
                }
              }
              .move-mobile-image-left {
                object-position: right;
              }
              .move-mobile-image-right {
                object-position: left;
              }
            }
            &.multiple {
              .flexbox-slide {
                flex-direction: column;
                .lead {
                  align-items: center;

                  @include flex-item-size(70%);
                }
                .details {
                  // @include flex-item-size(30%);
                }
              }
            }
          }
        }
      }
    }
  }
}
