
  @include breakpoint(medium) {
    .lead {
      flex-grow: 2;
      align-items: center;
    }
    .slideshow .lead {
      &.side-padding-sm {
        padding-left: rem-calc(120px);
        padding-right: rem-calc(120px);
      }

      &.side-padding-lg {
        padding-left: rem-calc(120px);
        padding-right: rem-calc(120px);
      }
    }
}
