{{!-- This is the base layout for your project, and will be used on every page
unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta property="og:url"           content="The Red Trouser Show - fair, festival, corporate - entertainment" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Your Website Title" />
    <meta property="og:description"   content="The Red Trouser Show provides entertainment for festivals, fairs and corporate events world wide. &quot;Amazing acrobats&quot; - ABC NEWS" />
    <meta property="og:image"         content="http://localhost:8004/assets/img/logo.svg" />
  
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
  </head>
  <body>

  <!-- NEW VERSION [IN DEV] Load Facebook SDK for JavaScript 
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1
             &version={graph-api-version}
             &appId=208401995848953
             &autoLogAppEvents=1" 
        nonce="FOKrbAYI">
  </script>
-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="9HpI0wYU"></script>

      {{!-- Pages you create in the src/pages/ folder are inserted here when the
      flattened page is created. --}} {{> body}}
    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
